<!-- sidebar.component.html -->
<div class="bg-gradient-to-b from-[#DBBADD] to-[#BE92A2] text-white h-screen w-full p-4">
    <h2 class="text-lg font-semibold mb-4">Menú</h2>
    <ul>
      <li>
        <a class="block p-2 hover:bg-[#96CDFF] transition-colors duration-300 rounded" routerLink="/page1">
          Página 1
        </a>
      </li>
      <li>
        <a class="block p-2 hover:bg-[#96CDFF] transition-colors duration-300 rounded" routerLink="/page2">
          Página 2
        </a>
      </li>
      <li>
        <a class="block p-2 hover:bg-[#96CDFF] transition-colors duration-300 rounded" routerLink="/page3">
          Página 3
        </a>
      </li>
    </ul>
  </div>
  