<div class="bg-[#805841] text-[#DCF7F3] h-screen w-full p-4 retro-font">
    <h2 class="text-lg font-semibold mb-4">Menú</h2>
    <ul class="space-y-4">
      <li>
        <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/page1">
          Página 1
        </a>
      </li>
      <li>
        <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/page2">
          Página 2
        </a>
      </li>
      <li>
        <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/page3">
          Página 3
        </a>
      </li>
    </ul>
  </div>